/* Created by Artisteer v4.0.0.58475 */

.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.diablodesign-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.diablodesign-header
{
   z-index: 1;
}

.diablodesign-hmenu>li, .diablodesign-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.diablodesign-hmenu, ul.diablodesign-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
ul.diablodesign-hmenu>li:first-child {
   padding-right:1px;
}
ul.diablodesign-hmenu>li{
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('span'),firstChild).className='diablodesign-hmenu-separator');
}
ul.diablodesign-hmenu>li>span.diablodesign-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -1px;
   width: 1px;
   height: 40px;
   background: url('../images/menuseparator.png') center center no-repeat;
}
ul.diablodesign-hmenu>li:first-child>span.diablodesign-hmenu-separator
{
   display:none;
}

ul.diablodesign-hmenu ul{
   background-color: rgba(240, 240, 240, 0.3) !important;
}

.diablodesign-content-layout, .diablodesign-content-layout-row, .diablodesign-layout-cell 
{
   display: block;
   zoom: 1;
}
.diablodesign-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

ul.diablodesign-vmenu, ul.diablodesign-vmenu ul, ul.diablodesign-vmenu li{
   zoom: 1;
}

ul.diablodesign-vmenu ul 
{
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.diablodesign-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.diablodesign-search div>input[type="text"]
{
   width: 100%;
}

* html form.diablodesign-search>input[type="text"] 
{
   margin :0;
}

.diablodesign-postheadericons span{
   zoom: 1;
}
.diablodesign-postcontent {
   height: 1%;
}

.diablodesign-postmetadatafooter{
   zoom:1;
}

.diablodesign-postfootericons span{
   zoom: 1;
}
.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.diablodesign-sidebar1
{
   background: none !important;
   border: none !important;
   zoom:expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='diablodesign-sidebar1-bg' + (className.indexOf('diablodesign-sidebar1-fix') == -1 ? '' : ' diablodesign-sidebar1-bg-fix' ));
}

.diablodesign-sidebar1-bg 
{
   border-right:1px dotted #ABABAB;
   position:absolute;
   z-index:-2;
   direction: ltr;
   left:  0;
   bottom:0;
   top:0;
   width: 250px;
   overflow:hidden;
   display:block;
   background-color: #D4D4D4;
}

.diablodesign-content 
{
   width: auto;
   float:none;
}

