/***************************************************************************************/
/*
/*		Author: AS Designing
/*		Author URI: http://www.asdesigning.com
/*		Theme URI: http://www.astemplates.com
/*		
/*		Note: Design for a width of 320px - Mobile (Portrait)
/*
/***************************************************************************************/

@media (max-width: 320px) 
{

	#logo span.slogan 
	{
		display: none;
	}
	
	#header-row .moduletable.call-now div
	{
		padding: 10px 0px 0px;
	}
	
	#header-row .moduletable.call-now
	{
		text-align: center;
	}
	
	#header-row .mod-search_searchword 
	{
		width: 150px;
	}
	
	#header-row .select-menu 
	{
		min-width: 203px;
	}
		
	#slider-row .slider
	{
		margin-bottom: 0px;	
	}
	
	.camera_caption a.readmore 
	{
		top: 40px;
	}
	
	#footer #copyright-menu
	{
		float: left;
		padding-top: 10px;
	}

}